# Streamlit Cloud > App settings > Secrets 에 아래 내용 붙여넣기

STEAM_API_KEY = "여기에_Steam_API_Key_입력"

SNOWFLAKE_ACCOUNT   = "여기에_계정_입력"
SNOWFLAKE_USER      = "여기에_유저_입력"
SNOWFLAKE_PASSWORD  = "여기에_비밀번호_입력"
SNOWFLAKE_DATABASE  = "GAMEFINDER"
SNOWFLAKE_SCHEMA    = "GOLD"
SNOWFLAKE_WAREHOUSE = "GAMEFINDER_WH"
SNOWFLAKE_ROLE      = "SYSADMIN"
